.tabulator {
  font-size: 9px;
}

.table-wrapper {
  margin: 0;
  text-align: left;
  width: 100%;
}

#root .react-tabulator {
  margin: 0;
  text-align: left;
  width: 100%;
}

.table-wrapper .tabulator-footer {
  text-align: center !important;
}

.pivot {
  font-size: 70%;
}

.funds {
  font-size: 70%;
}
.funds td {
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
}
